In [ ]:
pip install --upgrade seaborn matplotlib pandas

In [2]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
# ----------------------------------------------------------------------
# 1. CONFIGURAÇÃO DE CAMINHOS E CARREGAMENTO
# ----------------------------------------------------------------------

# ⚠️ AJUSTE ESTE CAMINHO para o local da sua pasta no Drive!
# Deve ser o mesmo caminho usado no script de unificação (01).
BASE_PATH = '/content/drive/MyDrive/Coursera_google_analytics/'

# Caminho do arquivo unificado gerado no script anterior
UNIFIED_FILE_PATH = os.path.join(BASE_PATH, 'cyclistic_dados_limpos_analise.csv')

print(f"Carregando arquivo unificado bruto: '{UNIFIED_FILE_PATH}'")

# Carregar o arquivo unificado
# O low_memory=False ajuda a garantir que o Pandas identifique corretamente os tipos de dados
df = pd.read_csv(UNIFIED_FILE_PATH, low_memory=False)

print(f"✅ DataFrame 'df' carregado com sucesso. Total de linhas: {len(df)}")
print("Iniciando a limpeza de dados e criação de campos analíticos...")

Carregando arquivo unificado bruto: '/content/drive/MyDrive/Coursera_google_analytics/cyclistic_dados_limpos_analise.csv'
✅ DataFrame 'df' carregado com sucesso. Total de linhas: 3333286
Iniciando a limpeza de dados e criação de campos analíticos...

In [18]:
# Calcula a média de minutos de todas as viagens
df["ride_length(min)"].mean(axis=0)

np.float64(16.281401772905173)

In [6]:
#Calcula a quantidade de horas por tipo de membro
ride_length_sum = df.groupby('member_casual')['ride_length(hours)'].sum()
print(ride_length_sum)

member_casual
casual    467706.19
member    436789.52
Name: ride_length(hours), dtype: float64

In [7]:
#Contagem total de viagensp or membro casual ou anual
day_week_count = df.groupby(['member_casual'])['member_casual'].count()
day_week_count

member_casual
casual    1227756
member    2105530
Name: member_casual, dtype: int64

In [8]:
#Calcula a media de viagens em minutos por tipo de membro
df.groupby('member_casual')['ride_length(min)'].mean()

member_casual
casual    22.856842
member    12.447195
Name: ride_length(min), dtype: float64

In [10]:
#Calcula o dia da semana que mais tem viagens
df["day_of_week_name"].mode()

0    Saturday
Name: day_of_week_name, dtype: object

In [11]:
#Calcula o dia da semana que mais tem viagens por membro
df.groupby('member_casual')['day_of_week_name'].apply(lambda x: x.mode())

member_casual
casual         0    Saturday
member         0    Thursday
Name: day_of_week_name, dtype: object

In [17]:
# 1. Filtra apenas os clientes 'casual'
df_casual = df[df['member_casual'] == 'member']

# 2. Agrupa por estação e conta o número de viagens (ride_id)
# 3. Ordena a contagem de forma decrescente
top_casual_stations = df_casual.groupby('start_station_name')['ride_id'] \
                                .count() \
                                .sort_values(ascending=False)

# Exibe as 10 primeiras
print(top_casual_stations.head(10).to_frame(name='Total Viagens Casuais'))
print("-" * 50)

                              Total Viagens Casuais
start_station_name
Kingsbury St & Kinzie St                      24249
Clinton St & Washington Blvd                  19662
Clinton St & Madison St                       17277
Canal St & Madison St                         16636
Clark St & Elm St                             16519
Clinton St & Jackson Blvd                     14364
State St & Chicago Ave                        14208
Wells St & Elm St                             13908
Wells St & Concord Ln                         13487
Wells St & Huron St                           13329
--------------------------------------------------